@using Web.Biz
@model IEnumerable<EF.Instruction>

@*<ul class="nav navbar-nav navbar-right">
	@foreach (var item in Model)
	{
		<li class="@(item.InstructionId == ViewBag.ActiveRootInstruction ? "active" : "")"><a href="@Url.Action("Details", "Instructions", new {id = item.InstructionId})">@item.Name</a></li>
	}
</ul>*@

@foreach (var item in Model.ToList())
{
	if (Model.LastOrDefault() == item)
	{
		<a class="label label-warning company-customer" href="@Url.Action("Details", "Instructions", new {id = item.InstructionId})">
			<span>@item.Name</span>
		</a>
	}
	else
	{
		<a class="label label-warning personal-customer" href="@Url.Action("Details", "Instructions", new {id = item.InstructionId})">
			<span class="">@item.Name</span>
		</a>	
	}
	
}

@*<a href=""><span class="label label-warning personal-customer">Cá nhân</span></a>
<a href=""><span class="label label-warning company-customer">Doanh nghiệp</span></a>*@