@using Web.Biz
@model IEnumerable<EF.Instruction>

@foreach (var item in Model)
{
	if (Model.LastOrDefault() == item)
	{
		<a class="@(item.InstructionId == ViewBag.ActiveRootInstruction ? "label label-warning active company-customer" : "label label-warning no-active company-customer")" 
		   href="@Url.Action("Details", "Instructions", new {id = item.InstructionId})">
			<span>@item.Name</span>
		</a>
	}
	else
	{
		<a class="@(item.InstructionId == ViewBag.ActiveRootInstruction ? "label label-warning active personal-customer" : "label label-warning no-active personal-customer")" 
		   href="@Url.Action("Details", "Instructions", new {id = item.InstructionId})">
			<span class="">@item.Name</span>
		</a>	
	}
	
}