@model IEnumerable<eTemplate.Areas.Admin.Models.WorkFolws.WorkFlowListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkFlowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Description)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Screens)
	    </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkFlowId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.Description)
		</td>
		<td>
			@foreach (var screen in item.Screens)
			{
				<span class="label label-default">@screen.Name</span>
			}
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
